@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
:root {
  --fontBase: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --fontSize: 15px;
  --colorBackground: 255, 255, 255;
  --colorText: 68, 68, 68;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url(/fonts/AkzidenzGrotesk-Black.woff2?8683c6c4d773ec0c4c8bd04410e57686) format("woff2"), url(/fonts/AkzidenzGrotesk-Black.woff?f187268ad33d2474e84bbcb6f19647df) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url(/fonts/AkzidenzGrotesk-Light.woff2?f9f42f074bc607fe235efc60e74ef97d) format("woff2"), url(/fonts/AkzidenzGrotesk-Light.woff?d786a12182e574b20a70a504d76251f8) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url(/fonts/AkzidenzGrotesk-Roman.woff2?4b3a1230643d71d8fe88094b52122d24) format("woff2"), url(/fonts/AkzidenzGrotesk-Roman.woff?877ce98a3303b72a48d1baf38e5fac03) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url(/fonts/AkzidenzGrotesk-Bold.woff2?a4738359b44124064f97f1ed5d446bd2) format("woff2"), url(/fonts/AkzidenzGrotesk-Bold.woff?c84c66759e80804b73939e8ede6fd5b2) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p {
  font-family: "Lora", serif;
}

.container {
  max-width: 1140px;
}
.container.menu .quote {
  border: 1px dashed rgba(0, 0, 0, 0.7);
  margin: 20px 0 40px 0;
  padding: 20px;
}
.container.menu .quote .text {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
}
.container.menu .quote h3 {
  display: block;
  margin: 0 0 10px 0;
}
.container.menu h4 {
  display: inline-block;
  float: left;
}
.container.menu p {
  display: inline-block;
  float: right;
  margin: 2.5px 0 0 15px;
  font-family: "Lora", serif;
  font-weight: 400;
}
.container.menu .extra-info {
  font-size: 14px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
}
.container.menu ul {
  width: 100%;
  display: block;
}
.container.menu span.strong {
  font-weight: 700;
}
.container.menu ul.leaders {
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
.container.menu ul.leaders li {
  margin: 0 0 10px 0;
  font-family: "Lora", serif;
  font-weight: 400;
}
.container.menu ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
.container.menu ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white;
}
.container.menu ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white;
}
.container.call-to-action .call-to-action-menu-one {
  width: 100%;
  height: 150px;
  background: linear-gradient(65deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://www.we-heart.com/upload-images/sangeorgeamsterdam2@2x.jpg);
  background-position: 110%, center center;
  background-size: auto 100%, cover;
  background-repeat: no-repeat, no-repeat;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 0 0 -20px 0;
}
.container.call-to-action .call-to-action-menu-one.career {
  background: linear-gradient(65deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/career.jpeg?c5ff0438cb613bd3d6e7fd5835ab3372);
  background-position: 110%, center center;
  background-size: auto 100%, cover;
  background-repeat: no-repeat, no-repeat;
  margin: 20px 0 40px 0;
}
.container.call-to-action .call-to-action-menu-one .text-place {
  padding: 45px 0;
  text-align: center;
}
.container.call-to-action .call-to-action-menu-one .text-place h2 {
  color: #fff;
  display: block;
  margin: 0;
  font-size: 50px;
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.4);
}
.container.call-to-action .call-to-action-desc {
  width: 100%;
  height: 200px;
  background: linear-gradient(65deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cta1.jpg");
  background-size: auto 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 110%, center center;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.container.call-to-action .call-to-action-desc .text-place {
  padding: 53px 0;
  text-align: center;
}
.container.call-to-action .call-to-action-desc .text-place h2 {
  color: #fff;
  display: block;
  margin: 0;
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.4);
}
.container.call-to-action .call-to-action-desc .text-place p {
  display: inline-block;
  margin: 15px auto 0 auto;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container.call-to-action .call-to-action-desc .text-place p:hover {
  background: white;
  color: #000;
}
.container.opening-hours p {
  margin-bottom: 20px;
}
.container.opening-hours .row p {
  margin: 0;
}
.container.opening-hours .row p:first-child {
  text-transform: uppercase;
  font-weight: 600;
}
.container.testimonials .testimonial-text {
  font-style: italic;
}
.container.testimonials .avatar {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container.testimonials strong {
  margin: 5px 0 0 0;
}
.container.header-bar {
  padding: 20px 0;
}
.container.header-bar .george-logo {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 80px;
  color: rgb(var(--colorText));
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  letter-spacing: -5px;
}
.container.header-bar .george-logo:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgba(255, 255, 255, 0);
}
.container.header-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
  float: right;
  display: inline-block;
}
.container.header-bar ul li {
  display: inline-block;
  font-size: 18px;
  font-family: "Lora", serif;
  font-weight: 400;
  text-align: center;
  margin-left: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  padding: 0 15px 0 0;
}
.container.header-bar ul li:first-child {
  margin-left: 0;
}
.container.header-bar ul li:last-child {
  border-right: 0;
}
.container.header-bar ul li:hover a, .container.header-bar ul li:hover i {
  color: rgb(var(--colorText));
}
.container.header-bar ul li a {
  color: rgba(var(--colorText), 0.6);
  cursor: pointer;
}
.container.header-bar ul li a.active {
  color: rgb(var(--colorText));
}
.container.header-bar ul li a.active i {
  color: rgb(var(--colorText));
}
.container.header-bar ul li a i {
  display: block;
  margin: 0 auto 5px auto;
  font-size: 23px;
  color: rgba(var(--colorText), 0.7);
}
.container.about-us {
  margin: 0 auto;
}
.container.about-us p {
  width: 97.5%;
}

p.width95 {
  width: 95%;
}

.career-review:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  padding: 20px 0 0 0;
}
.career-review p:first-child {
  font-size: 13px;
}
.career-review p:last-child {
  font-weight: 600;
  font-style: italic;
}

.motivationtext {
  height: 125px !important;
}

.btn-apply {
  width: 100%;
  margin: 15px 0 0 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #000000;
}
.loader .text-loading {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  height: 100%;
  width: 100%;
  text-align: center;
}
.loader .text-loading h3 {
  color: #ffffff;
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 100px;
}
.loader .text-loading h3 span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: rgba(0, 0, 0, 0);
}

.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 174%;
}

.map-filter {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

#register-foto {
  background-image: url(/images/about-one.jpg?9f50a996b9d424985dd8cb5228dad55a);
  background-repeat: no-repeat;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 20px;
  box-shadow: 2px 2px 4px 4px gray;
}

.activate-foto {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 2px 2px 4px 4px gray;
}

.employee {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin: 0 0 20px 0;
  width: 150px;
}

.foto2 {
  float: left;
}

#projects img {
  width: 400px;
}

.line {
  border: 0px #000 solid;
  padding: 0px 0;
  background-color: black;
}

.bottom-space {
  margin: 0 0 40px 0;
}

.function {
  margin: 0;
}

.empname {
  margin: 0;
}

.corona-one {
  width: 100%;
  height: 150px;
  background: linear-gradient(65deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://uploads-ssl.webflow.com/5f3e6fbcc9fdf842f6add861/60924925ec8682749d487286_covid-george.png);
  background-position: 110%, center center;
  background-size: auto 100%, cover;
  background-repeat: no-repeat, no-repeat;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 0 0 -20px 0;
}

.text-corona h2 {
  color: #fff;
  display: block;
  margin: 0;
  font-size: 50px;
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.4);
  padding: 45px 0;
  text-align: center;
}

.corona-text h1 {
  font-size: 20px;
}

.text-corona-hous-rules h2 {
  color: #black;
  display: block;
  padding: 10px 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.text-rules p {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}

.image-book {
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -240px;
     object-position: center -240px;
}

.booktext {
  height: 75px !important;
}

.btn-george {
  width: 100%;
}

.btn-george:hover {
  transition: 1.3s;
}

.modal-body:nth-child(2) {
  border-top: 1px solid #dee2e6;
}

html, body {
  margin: 0;
  padding: 0;
  background: rgb(var(--colorBackground));
  font-family: var(--fontBase);
  font-size: var(--fontSize);
  color: rgb(var(--colorText));
  position: relative;
}

@media (max-width: 575.98px) {
  .bg-blue .card {
    width: 80% !important;
  }
}
@media (max-width: 767.98px) {
  .bg-blue .card {
    width: 80% !important;
  }
}
.bg-blue {
  background: linear-gradient(65deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/auth.jpg");
  background-size: auto 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
}
.bg-blue .footer-link a {
  font-family: "Lora", serif;
  font-style: italic;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}
.bg-blue .footer-link a:hover {
  text-decoration: underline;
}
.bg-blue .card {
  box-shadow: rgba(35, 46, 60, 0.04) 0 2px 4px 0;
  border: 1px solid rgba(101, 109, 119, 0.16);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 4px;
  width: 30%;
  margin: 0 0 10px 0;
}
.bg-blue .card .card-body {
  padding: 2rem;
}
.bg-blue .card .card-body .btn-dark {
  padding: 15px;
}
.bg-blue .card .card-body p {
  margin: 0;
  font-family: "Lora", serif;
  font-style: italic;
}
.bg-blue .card .card-body:first-child {
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
}
.bg-blue .card .card-body.body-error {
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
}
.bg-blue .card .card-body .color-red {
  color: #dc3545;
  font-size: 13px;
  margin: 5px 0 0 0;
  font-family: "Lora", serif;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.alert {
  font-family: "Lora", serif;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7) !important;
  padding: 40px 0;
}
.alert .btn-close {
  margin: 25px 0 0 0;
}
.alert a {
  color: rgb(var(--colorText));
  text-decoration: none;
  font-size: 16px;
}
.alert a:hover {
  font-style: italic;
}

.socials {
  font-family: "Lora", serif;
}

.icon-george {
  display: block;
  margin: 10px auto 15px auto;
  font-size: 22px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7) !important;
  padding: 40px 0;
}
.border-bottom strong {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.no-border {
  padding: 30px 0;
}

.carousel .carousel-inner {
  border-radius: 5px;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.meeting-room img {
  border-radius: 5px;
  width: 275px;
  margin: 0 0 20px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.meeting-room img:hover {
  filter: grayscale(100%);
}
.meeting-room .prices .row {
  width: 90%;
  margin: 0 auto;
  font-family: "Lora", serif;
}
.meeting-room .prices .row .col {
  padding: 10px;
}
.meeting-room .prices .row .col span {
  display: block;
}
.meeting-room .prices .row .col span:first-child {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12.5px;
}

.career-image {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 100%;
  -o-object-position: center center;
     object-position: center center;
}

.call-me {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  padding: 20px 0;
}
.call-me h4 {
  margin: 0;
}
.call-me p {
  margin: 10px 0 0 0;
}
.call-me form {
  margin: 10px 0 0 0;
}
.call-me form input[type=submit] {
  float: right;
  margin: 10px -1px 0 0;
}

.career-desc {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  padding: 20px 0;
}
.career-desc .car-img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.career-desc h4 {
  margin: 0;
}
.career-desc p {
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.career-desc a {
  float: right;
  margin: 17px 0 0 10px;
}
.career-desc .btn-sm {
  padding: 5px 10px !important;
  font-family: "Lora", sans-serif;
}

.gallery {
  padding: 30px 0 0 0;
}

.background-black {
  background: linear-gradient(65deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://d1d5g9qzvtwux0.cloudfront.net/app/uploads/2018/01/Daltonlaan-300-Utrecht.png);
  background-position: 110%, center center;
  background-size: auto 100%, cover;
  background-repeat: no-repeat, no-repeat;
  margin: -1px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.background-black h2, .background-black p {
  color: #fff;
}

ul.footer-links {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7) !important;
}
ul.footer-links li {
  display: inline-block;
  padding: 0 15px;
}
ul.footer-links li:hover a {
  text-decoration: underline;
}
ul.footer-links li a {
  color: rgb(var(--colorText));
  font-family: "Lora", serif;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
}

.about-image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  -o-object-fit: cover;
     object-fit: cover;
  height: 125px;
  -o-object-position: center;
     object-position: center;
  margin: 0 0 20px 0;
}
