.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:174%;
}

.map-filter {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
