.employee {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    border-radius: 5px;
    margin: 0 0 20px 0;
    width: 150px;
}

.foto2 {
    float: left;
}

#projects img{
    width: 400px;
}

.line {
    border:0px #000 solid;
    padding: 0px 0;
    background-color: black;
}

.bottom-space {
    margin: 0 0 40px 0;
}

.function {
    margin: 0;
}

.empname {
    margin: 0;
}
