

.image-book {
    height: 120px;
    object-fit: cover;
}

.booktext {
    height: 75px !important;
}

.btn-george {
    width: 100%;
}

.btn-george:hover {
    transition: 1.3s;
}

.modal-body:nth-child(2) {
    border-top: 1px solid #dee2e6;
}